.show-me {
  &::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.tech {
  min-height: calc(100vh - 80px);
  height: calc(100vh - 80px);
  padding: 35px 0 60px;
  background-color: #f6f8fe;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background: rgba(45, 49, 146, 0.6);
    position: absolute;
    right: 0;
    top: 0;
    animation-duration: 0.9s;
    transition: all 0.9s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 0.2s;
  }

  &__tech-background {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;

    &__h2 {
      width: calc(50% - 0px);
      padding: 0 40px;
      font-weight: bold;
      font-size: 54px;
      line-height: 1.29;
      letter-spacing: 0.01em;
      color: #fff;
      text-shadow: 2px 2px 6px black;
      transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    &__list {
      width: calc(50% - 0px);
      padding: 40px 60px;
      border-radius: 4px;
      z-index: 1;

      &__ul {
        list-style: none;
        max-width: 520px;
        margin: 0 auto;

        &__li {
          opacity: 1;
          transform: translate(0, 0);
          padding: 32px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
          animation-duration: 0.6s;
          transition-delay: 0.4s;
          &__h3 {
            padding: 0 0 0px;
            font-weight: bold;
            font-size: 21px;
            line-height: 1.12;
            color: #fff;
          }
        }
      }
    }
  }
}
